<div>

    <form class="form-horizontal" name="registrationForm" ng-submit="submitForm(registrationForm.$valid)">
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input ng-model="user.email" type="text" class="form-control" id="inputEmail" placeholder="Email" required>
        </div>


        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input ng-model="user.password" type="password" class="form-control" id="inputPassword" placeholder="Password" required>

            <label for="inputPasswordC">Password</label>
            <input ng-model="user.password" type="password" class="form-control" id="inputPasswordC" placeholder="Confirm Password" required>
        </div>

        <div class="form-group">
            <label for="contactName">Contact Name</label>
            <input ng-model="user.contactName" type="text" class="form-control" id="contactName" required>
        </div>

        <div class="form-group">
            <label for="inputPhone">Phone</label>
            <input ng-model="user.phone" type="text" class="form-control" id="inputPhone" placeholder="Phone Number">
        </div>

        <div class="form-group">
            <label for="profileImage">Profile Picture</label>
            <img ng-show="user.profilePicturePath != undefined" width="96" height="96" src="{{user.profilePicturePath}}"><br>
            <input id="profileImage" type="file" fileread="user.profilePicturePath" accept=".jpg, .png" \>
            <label id="labelProfileImage" for="profileImage" label="Select a file:"></label>
        </div>

        <div class="form-group">
            <label for="profileImage">Security Question</label>
            <select ng-model="user.securityQuestionId" class="form-control" ng-options="sercurityQuestion for question in Questions" ng-init="user.type = types[0].name"\>
            </select>
        </div>

        <div class="form-group">
            <label for="profileImage">Security Question Answer</label>
            <input ng-model="user.securityQuestionAnswer" type="text" class="form-control" id="securitQuestionAnswer" required>
            </select>
        </div>

        <div class="form-group">
            <label for="typeInput">User Type</label>
            <select ng-model="user.type" ng-options="type.name for type in types" ng-init="user.type = types[0].name" id="typeInput">
            </select>
        </div>

        <div ng-show="user.type.name == 'Organization'">

            <label for="contactNameInput">Contact Person Name</label>
            <input ng-model="contactPersonName" type="text" class="form-control" placholder="Name" id="contactNameInput" \>

            <label for="contactNameInput">Contact Person Email</label>
            <input ng-model="contactPersonEmail" type="text" class="form-control" placholder="Email" id="contactEmailInput" \>

            <label for="contactNameInput">Contact Person Phone</label>
            <input ng-model="contactPersonPhone" type="text" class="form-control" placholder="Email" id="contactPhoneInput" \>

            <label for="descriptionInput">Description</label>
            <textarea ng-model="organizationDescription" id="descriptionInput">
            </textarea>

            <label for="orgainzationWebsiteInput">Organization Website</label>
            <input ng-model="orgainzationWebsite" type="text" class="form-control" placholder="Website" id="orgainzationWebsiteInput" \>

        </div>

        <div ng-show="user.type.name == 'Teacher'">

            <label for="languagesInput">Volunteer</label>
            <div class="form-group" ng-repeat="language in languages" id="languagesInput">
                <input  type="checkbox"
                        value="{{language}}"
                        ng-checked="langSelection.indexOf(language) > -1"
                        ng-click ="toggleLang(language)"
                > {{language}}
            </div>

        </div>

        {{test}}

        <div ng-show="user.type.name == 'Student' ng-show=user.type.name == 'Teacher'">
            <label for="nativeInput">Native Language</label>
            <select ng-model="user.native" ng-options="native for native in nativeLanguages" id="nativeInput">
            </select>
        </div>


        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>