/**
super-dark: #002635
dark: #013440
lighter: #025F75

complementary:
red: #AB1A25
orange: #D97925
sandy-yellow: #EFE7BE
**/
.header-logo{
    max-width: 300px;
}

.form-row{
    margin-top: 30px;
    color: #fff !important;
    margin-bottom: 30px;
}

.login-row{
    margin-bottom: 10px !important;
}

.white{
    color: #fff !important;
}

.dark-grey{
    color: #333 !important;
}

.red{
    color: #AB1A25 !important;
}

.orange{
    color: #D97925 !important;
}

.super-dark-blue{
    color: #002635 !important;
}

.dark-blue{
    color: #013440 !important;
}

.lighter-blue{
    color: #025F75 !important;
}

.menubar{
    -webkit-box-shadow: 0 3px 0 0 #000000;
    -moz-box-shadow: 0 3px 0 0 #000000;
    box-shadow: 0 1px 3px 0 #000000;
}

#loading-bar .bar {
    background: #002635;
    height: 3px;
}

#loading-bar-spinner .spinner-icon {
    width: 18px;
    height: 18px;
    border: solid 4px transparent;
    border-top-color: #002635;
    border-left-color: #002635;
    border-radius: 10px;
}

.m30{
    margin-top: 30px;
    margin-bottom: 30px;
}

.content{
    padding-top: 30px;
}

.hostyle
{
    font-family: 'Pacifico', cursive;
    font-size: 60px;
}